*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* margin-top: 8px; */
    
}
.Div.Foto{
    display: flex;
    max-height: 250px;
}

img {
    width: 100%;
    object-fit: fill;
}

.Nombre{
    margin: -38px 0 10px 3px;
    max-width: 100%;
    color: white;
    text-shadow: 2px 2px 3px black;
    position: absolute;
    background: rgba(255, 255, 255, 0.199);
}

.icono-datos, h6 {
    color: #01887a!important;
}

.progress-bar , footer{
    background-color: #01887a!important;
}

.card{
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}
